{
  "extends": [
    "next",
    "prettier",
    "plugin:@tanstack/query/recommended"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "arrowParens": "always",
        "printWidth": 120,
        "semi": false,
        "singleQuote": true,
        "trailingComma": "none"
      }
    ]
  },
  "root": true
}
